<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
  <add name="CWBConnectionString" connectionString="Data Source=cwbdbserver.cchte14oarvd.ap-southeast-1.rds.amazonaws.com;Initial Catalog=CWB_OIL;Persist Security Info=True;User ID=CWBlogin
;Password=CWBlogin123" providerName="System.Data.SqlClient"/>

    </connectionStrings>
  <!--<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>k2seo/6ZdYOCqp8e3Qy9UKjDf3qTJaMaY3SLgUMmZU1H0cAL9nVSoc6nUwKwriZy9l3DhuPlniFQTcaa1+N2eiljxcRoNB9ea5kSECuFnpI4KbvhGsZfo72LysXedv5edJzMxkW6z+OSv1gpjyEFZqCnpJYvuJDZ10mxiJmBlN0/aC2UfItrdtnsdkuNnAIyQI+NagATWsD0qyivvdGgtG08AAuugJBO/TEsjvOZ74qjxqhCtd2JHBa5iaWdXzesuve3tH7H94Nr+sImSwS4WQNdxhoTupEV02S3qGCfWPuRFB2hyvUTp5SE0oblVPebGLhyX00l1DPthtamzGUt8A==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>9fDcw4U4UJqn5PXUvUtEWXMlf7WJG+7Z984FYhhOqN9T5r3xyqVCYvsX4GBoT59M</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="IsNetworkEnabled" value="false"/>
    <add key="SuperAdmin" value="superadmin770640490"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
